<app-home/>
<p-toast />
<header>
  <div class="searchbar">
    <div class="searchIconContainer" (click)="toggleStrictSearch()">
      @if (strictSearch) {
        <i class="pi pi-search-minus" title="Keywords should match exactly"></i>
      }
      @else {
        <i class="pi pi-search" title="Keywords may loosely match"></i>
      }
    </div>
    <input
      [(ngModel)]="searchTerm"
      type="text"
      placeholder="Search model categories"
      (input)="handleSearchChange()"
      maxlength="30"
    />
  </div>
</header>

@if (filteredModels.length === 0 && searchTerm.length === 0) {
  <div class="card-container">
    <!-- Create 6 skeleton card placeholders when loading -->
    @for (i of [1,2,3,4,5,6]; track i) {
      <p-card
        [style]="{
          width: '20rem',
          borderRadius: '1rem',
          boxShadow: 'none',
        }">
        <ng-template pTemplate="header">
          <p-skeleton width="100%" height="15rem" [style]="{'borderRadius': '1rem 1rem 0 0'}" />
        </ng-template>
        <ng-template pTemplate="content">
          <p-skeleton width="7rem" height="2rem" borderRadius="1rem" [style]="{marginBottom: '0.5rem'}"/>
          <p-skeleton width="3rem" height="1rem" borderRadius="1rem" />
          <div class="skeleton-tag">
            <p-skeleton width="3rem" height="1.6rem" borderRadius="1rem" />
            <p-skeleton width="3rem" height="1.6rem" borderRadius="1rem" />
          </div>
        </ng-template>
      </p-card>
    }
  </div>
}
@else if (searchTerm.length > 0 && filteredModels.length === 0) {
  <!-- Show only if the filtersModels length is 0 and the input field is dirty -->
  <div class="notfoundContainer">
    <h1>¯\_(ツ)_/¯ No results found</h1>
    <button (click)="emptySearch()">
      <p>Back</p>
    </button>
  </div>
}

<div class="card-container">
  @for (model of filteredModels; track model.id) {
    <!-- Click card to navigate to model -->
    <p-card
      [style]="{
        width: '20rem',
        borderRadius: '1rem',
        boxShadow: 'none',
      }"
      (click)="navigateToDetails(model.id)">

      <ng-template pTemplate="header">
        <img [alt]="model.title" [src]="model.imageUrls[0]" />
      </ng-template>

      <ng-template pTemplate="content">
        <!-- Truncate title & username if they're too long -->
        <h3 class="model-title">{{ model.title.length > 20 ? model.title.slice(0, 20) + '...' : model.title }}</h3>
        <p>{{ model.userName.length > 20 ? model.userName.slice(0, 20) + '...' : model.userName }}</p>

        <div class="tagContainer">
          <p-tag [value]="model.category" icon="pi pi-bars" severity="info" [rounded]="true" />
          <!-- Add tag indicating 3D model available to view if provided -->
          @if (model.threemodelUrls.length) { <p-tag value="Model" icon="pi pi-box" severity="success" [rounded]="true" title="This rebuild has 3D model" /> }
        </div>
      </ng-template>
    </p-card>
  }
  <p-scrollTop target="window" [threshold]="400" icon="pi pi-arrow-up" />
</div>

<footer>
  <div class="footer-container">
    <div class="footer-content">
      <p>&copy; 2024 Team Rebuilder</p>
    </div>
    <div class="iconContainer">
      <a href="https://github.com/Team-Rebuilder/Rebulider" target="_blank" rel="noopener noreferrer">
        <i class="pi pi-github" ></i>
      </a>
      <a [routerLink]="'/about/'">
        <i class="pi pi-info-circle" ></i>
      </a>
      <a href="https://docs.google.com/document/d/1_j8OgXuTX_C_5hVC8X42tUdr5KQR7XEtckNiW6UO4sA/edit?tab=t.0#heading=h.ixns37gjynfg" target="_blank" rel="noopener noreferrer">
        <i class="pi pi-file-word" ></i>
      </a>
    </div>
  </div>
</footer>
