:root {
  --yellow: #F9E400;
  --dark-yellow: #dbc800;
  --orange: #FF8000;
  --red: #FF8080;
  --blue: #279EFF;
  --dark-blue: rgb(52, 111, 173);
  --light-gray: #f8f8f8;
  --dark-gray: #6b7280;
  --black: #383838;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#load-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  margin: 2rem 0;
}

#load-indicator p {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--blue);
  text-align: center;
  margin-bottom: 1rem;
}

.loader {
  border: 0.25rem solid #c77b7b;
  border-top: 0.25rem solid #FAFAFA;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  background-color: var(--light-gray);
}

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  width: 20rem;
}

@media (max-width: 430px) {
  .searchbar {
    width: 80%;
  }
}

.searchIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 1rem;
  margin-right: 0.5rem;
}

.searchIconContainer i {
  color: #afafaf;
}

.categoryIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 1rem;
  margin-left: 0.5rem;
}

.categoryIconContainer i {
  color: var(--orange);
}

.categoryIconWithButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  margin-right: 0.5rem;
}

input:focus {
  outline: none;
}

.searchbar input {
  border: none;
  background-color: #ffffff;
  width: 100%;
}

.notfoundContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  height: 100%;
}

.notfoundContainer h1 {
  color: var(--dark-gray);
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem 0 2rem 0;
  padding: 0;
}

.notfoundContainer button {
  background-color: var(--light-gray);
  color: var(--black);
  border: none;
  border-radius: 2rem;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.1s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.notfoundContainer button:hover {
  background-color: var(--orange);
  color: var(--light-gray);
}

.notfoundContainer p {
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.card-container {
  padding: 2rem;
  max-width: 80%;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
  position: relative;
  display: grid;
  /* https: //developer.mozilla.org/en-US/docs/Web/CSS/CSS_grid_layout */
  grid-template-columns: repeat(3, 1fr);
  gap: 1.3rem;
  grid-auto-rows: minmax(8rem, auto);
}

@media (max-width: 1250px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.3rem;
  }
}

@media (max-width: 760px) {
  .card-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.3rem;
  }
}

p-card {
  margin: 0 auto;
  padding: 0;
  align-items: center;
  position: relative;
  border-radius: 2rem;
  border: none;
  box-shadow: 0 0.9375rem 1.5625rem -0.25rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

p-card a {
  text-decoration: none;
  text-emphasis: none;
  color: #7c7c7c;
  font-weight: 700;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.2s;
}

p-card a:hover {
  color: #bec772;
}

p-card p {
  font-size: 0.9rem;
  color: #a3a3a3;
  margin-top: 0.3rem;
}

p-card:hover {
  transform: translateY(-0.3125rem);
  box-shadow: 0 1.25rem 2.5rem 0 rgba(0, 0, 0, 0.1);
}

img {
  width: 100%;
  height: 15rem;
  object-fit: contain;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: #f3f3f3;
}

.tagContainer {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

p-scrollTop {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
}

footer {
  padding: 1rem 0;
  margin: 0 auto;    /* To center the element */
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #e3e3e3;
  width: 80%;
  color: #afafaf;
  font-size: 0.8rem;
  font-weight: 400;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iconContainer {
  display: flex;
  gap: 0.3rem;
  margin-top: 0.5rem;
}

.iconContainer a {
  text-emphasis: none;
  text-decoration: none;
  color: #afafaf;
  transition: all 0.1s;
}

.iconContainer a:hover {
  color: #bec772;
}
