<app-home/>

<header>
  <div class="searchbar">
    <div class="searchIconContainer">
      <i class="pi pi-search"></i>
    </div>
    <input
      [(ngModel)]="searchTerm"
      type="text"
      placeholder="Search for rebuild categories"
      (input)="handleSearchChange()"
      maxlength="30"
    />
    <div class="categoryIconContainer">
      <i class="pi pi-bars"></i>
    </div>
  </div>
</header>

@if (filteredModels.length === 0 && searchTerm.length === 0) {
  <div id="load-indicator">
    <p>Loading... </p>
    <div class="loader"></div>
  </div>
}
@else if (searchTerm.length > 0 && filteredModels.length === 0) {
  <!-- Show only if the filtersModels length is 0 and the input field is dirty -->
  <div class="notfoundContainer">
    <h1>¯\_(ツ)_/¯ No results found</h1>
    <button (click)="emptySearch()">
      <div class="categoryIconWithButton">
        <i class="pi pi-bars"></i>
      </div>
      <p>Try searching for another category</p>
    </button>
  </div>
}

<div class="card-container">
  @for (model of filteredModels; track model.id) {
    <p-card
      [style]="{
        width: '20rem',
        borderRadius: '1rem',
        boxShadow: 'none',
      }">
      <ng-template pTemplate="header">
        <img [alt]="model.title" [src]="model.imageUrls[0]" />
      </ng-template>
      <ng-template pTemplate="content">
        <a [routerLink]="'/model/' + model.id + '/details/'" title="Click to see the rebuild!">{{ model.title }}</a>
        <p>{{ model.userName }}</p>
        <div class="tagContainer">
          <p-tag [value]="model.category" icon="pi pi-bars" severity="info" [rounded]="true" />
          @if (model.threemodelUrls.length) { <p-tag value="Model" icon="pi pi-box" severity="success" [rounded]="true" title="This rebuild has 3D model" /> }
        </div>
      </ng-template>
    </p-card>
  }
  <p-scrollTop target="window" [threshold]="400" icon="pi pi-arrow-up" />
</div>

<footer>
  <div class="footer-container">
    <div class="footer-content">
      <p>&copy; 2024 Team Rebuilder</p>
    </div>
    <div class="iconContainer">
      <a href="https://github.com/Team-Rebuilder/Rebulider" target="_blank" rel="noopener noreferrer">
        <i class="pi pi-github" ></i>
      </a>
      <a href="https://docs.google.com/document/d/1_j8OgXuTX_C_5hVC8X42tUdr5KQR7XEtckNiW6UO4sA/edit?tab=t.0#heading=h.ixns37gjynfg" target="_blank" rel="noopener noreferrer">
        <i class="pi pi-file-word" ></i>
      </a>
    </div>
  </div>
</footer>
