#viewer {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

canvas {
  /* First four lines for centering the canvas */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: table;
  margin-inline: auto;
  max-width: 75vw;
  max-height: 75vh;
}

.pdf-container {
  position: relative;
  display: flex;
  flex-direction: horizontal;
  justify-content: space-evenly;
  padding-inline: 50px;
  max-width: 100vw;
}

.nav-button {
  position: absolute;
  top: 50%;
  background-color: transparent;
  border: none;
  i {
    font-size: 5vw;
  }
}

.nav-button:hover {
  color: lightgray;
}

.nav-button:disabled {
  color: lightgray;
}

#prev {
  left: 3vw;
}

#next {
  right: 3vw;
}

mat-slider {
  position: absolute;
  width: 80%;
  display: table;
  margin-inline: auto;
  top: 90vh;
  bottom: 2%;
  /* Center the slider */
  left: 50%;
  transform: translate(-50%, 0%);
}