* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Part card container */
.cardContainer {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  grid-auto-rows: minmax(8rem, auto);
}

.part-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--light-gray);
  transition: all 0.3s;
}

.part-img-container:hover {
  border: 1px solid var(--yellow);
}

.partscontainer,
.colorcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0.2rem;
  cursor: pointer;
}

.partscontainer i,
.colorcontainer i {
  margin-right: 0.3rem;
  font-size: 0.5rem;
  padding: 0.2rem;
  border-radius: 50%;
  background-color: var(--light-gray);
  color: var(--dark-gray);
  border: 1px solid var(--dark-gray);
  transition: all 0.2s;
}

.partscontainer i:hover,
.colorcontainer i:hover {
  transform: scale(1.1);
}

.partscontainer p,
.colorcontainer p {
  font-size: 0.7rem;
  color: var(--dark-gray);
  transition: all 0.3s;
}

.partsinfo {
  background-color: var(--light-gray);
  padding: 0.2rem 0.4rem;
  border-radius: 0.5rem;
}

.percent-bar-desc {
  font-size: 0.9rem;
  color: var(--dark-gray);
  margin-top: 0.2rem;
  text-align: center;
}

/* Container for part usage calculation */
.calcContainer {
  margin-top: 0.5rem;
}
