
<div clas="container">
  <p-toast />
  <h1 class="partsTitle">Parts Used</h1>
  <div class="cardContainer">
    @if (partData.length === 0) {
      <div id="load-indicator">
        <p>Loading...</p>
        <div class="loader"></div>
      </div>
    }
    @else {
      <!-- {{sourcePartCount}} -->
      @for (partDatum of partData; track $index) {
        <div class="part-img-container">
          <img [src]="partDatum.part_img_url" style="width: 3rem; height: 3rem; object-fit: contain; display: block;" />
          <div class="partscontainer" (click)="handleCopy(partDatum.part_num)">
            <p class="partsinfo">{{partDatum.count}}x {{partDatum.part_num}}</p>
          </div>
          <div class="colorcontainer" (click)="handleCopy(partDatum.color)">
            <i class="pi pi-palette" title="Click to copy the color"
              [style.color]="getColorCode(partDatum.color)"
              [style.backgroundColor]="getColorCode(partDatum.color)"
              ></i><p>{{partDatum.color}}</p>
          </div>
        </div>
    }
    }
  </div>

  @if (sourcePartCount) {
    <div class="percent-bar-container">
      <div class="percent-bar" [style.width.%]="(modelPartCount / sourcePartCount) * 100"></div>
    </div>
    <div class="percent-bar-desc">
     {{ (100 * modelPartCount/sourcePartCount).toFixed(2) }}% of {{sourcePartCount}} source parts used.
    </div>
  }
</div>
