<app-modelnavbar />

<div class="container">
  <p-toast />
  <div class="documentContainer">
    @if (!currModel$) {
      <!-- skeletonContainer substitutes placeholders while loading -->
      <section class="skeletonContainer">
        <p-skeleton height="2rem" width="10rem" borderRadius="1rem"/>
        <div id="load-indicator" >
          <p>Loading...</p>
          <div class="loader"></div>
        </div>
      </section>
    }
    @else {
      <section class="metatext-container">
        <h1 class="mtitle" title="Model Title">
          {{ currModel$?.title.toUpperCase() }}
        </h1>

        <div class="user-and-date">
          <p class="muser">
            <!-- Conditionally render the user profile picture if the user exists -->
            @if (currModel$?.userPhoto) {
              <img [src]="currModel$?.userPhoto" alt="User Profile Picture" class="muser-img" />
            }
            @else {
              <i title="Anonymous User" class="pi pi-user" style="font-size: 1rem"></i>
            }
            {{ currModel$?.userName }}
          </p>
          <p class="muser">
            {{ currModel$?.timestamp.toDate() | date: "longDate" }}
            <i class="pi pi-calendar" style="font-size: 1rem"></i>
          </p>
        </div>

        <div class="tagContainer">
          <div class="chipContainer">
            <p-tag [value]="currModel$?.category" icon="pi pi-bars" severity="info" [rounded]="true" />
            @if (currModel$?.threemodelUrls.length) {
              <p-tag value="Model" icon="pi pi-box" severity="success" [rounded]="true" title="This rebuild has 3D model" />
            }
          </div>
          <!-- Conditionally render delete button if the model is current user's -->
          @if (currModel$?.uid === modelService.currentUser?.uid) {
            <button type="button" label="Delete" (click)="handleDelete()" >
              <i class="pi pi-trash"></i>
            </button>
          }
        </div>
      </section>
      <section class="card">
        <p-galleria
          [value]="currModel$?.imageUrls"
          [circular]="true"
          [showItemNavigators]="currModel$?.imageUrls.length > 1"
          [showThumbnails]="false"
          [showIndicators]="currModel$?.imageUrls.length > 1"
          [containerStyle]="containerStyle">
          <!-- Boilerplate from PrimeNG example -->
          <ng-template pTemplate="item" let-item>
            <img [src]="item" style="width: 100%; height: 26rem; object-fit: contain; display: block;" />
          </ng-template>
        </p-galleria>
      </section>
      <section class="descContainer">
        <p class="mdesc-text" title="Model Descriptions">{{ currModel$?.description }}</p>
      </section>
      <section>
        <h1 class="sourceTitle">
          Source Parts Used
        </h1>
        <ul class="sourceChipContainer">
          @for (setDatum of sourceSetData; track $index ) {
            <li class="sourceChip"><i class="pi pi-tag"></i><a [href]="setDatum.set_url" target="_blank" rel="noopener noreferrer">{{setDatum.set_num}}</a></li>
          }
        </ul>
      </section>

      <app-part-list [modelId]="id()"></app-part-list>
      <p-scrollTop target="window" [threshold]="400" icon="pi pi-arrow-up" />
    }
  </div>
</div>

