* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
input[type=checkbox]:focus {
  outline: none;
}

.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-items: center;
  padding: 2rem 4rem;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.usernameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  width: 100%;
}

.welcomeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.usernameContainer h1,
.welcomeContainer h1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  background: radial-gradient(circle at 100%, #14C38E, #9694FF 50%, #14C38E 75%, #14C38E 100%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  animation: alternateTextColor 8s linear infinite;
}

.welcomeContainer p {
  font-size: 1rem;
  font-weight: 300;
  color: #777777;
  text-align: center;
}

@keyframes alternateTextColor {
  to {
    background-position: 200% center;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  gap: 1rem;
}

.inputContainer {
  margin: 0.5rem 0;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

button {
  border: none;
  border-radius: 0.5rem;
  padding: 0.8rem;
  background-color: #efefef;
  transition: all 0.2s;
}

button:hover {
  background-color: #b7e0ff;
}

.usernameContainer input[type=text] {
  width: 20rem;
  text-align: center;
}

input[type=text] {
  width: 24rem;
  height: 2.4rem;
  border: 2px solid #efefef;
  border-radius: 0.5rem;
  padding: 0.5rem;
  transition: all 0.2s;
}

input.ng-valid.ng-touched {
  border-color: #b7e0ff;
}

input.ng-invalid.ng-touched {
  border-color: #FF8A8A;
}

textarea {
  border: 2px solid #efefef;
  border-radius: 0.5rem;
  padding: 0.5rem;
  transition: all 0.2s;
}

textarea.ng-valid.ng-touched {
  border-color: #b7e0ff;
}

textarea.ng-invalid.ng-touched {
  border-color: #FF8A8A;
}

small {
  margin-top: 0.2rem;
  color: #FF8A8A;
  font-size: 0.8rem;
  font-weight: 300;
}

/* Disable Autocomplete Styles for Webkit Browsers */
/* https://css-tricks.com/snippets/css/change-autocomplete-styles-webkit-browsers/ */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  box-shadow: 0 0 0px 1000px #ffffff inset;
  -webkit-text-fill-color: #000000;
}

input::placeholder,
textarea::placeholder {
  color: #a0a0a0;
  font-size: 0.9rem;
  font-weight: 300;
}

label {
  display: inline-flex;
  height: 2rem;
  align-items: center;
  margin-right: 0.8rem;
  transition: all 0.2s;
  font-size: 1rem;
  font-weight: 400;
  color: #777777;
}

.buttoncontainer {
  display: flex;
  justify-content: space-around;
  gap: 0.8rem;
  margin-top: 2rem;
}
