<app-home/>

<div class="container">
  <!-- Loading Spinner -->
  @if (isLoading) {
    <div class="loadingContainer">
      <h1>Uploading...</h1>
      <p>Do not refresh screen</p>
      <div class="loader"></div>
    </div>
  }

  @if (!usernameSet) {
    <!-- Username Input -->
    <div class="usernameContainer">
      <h1>How can we call you?</h1>
      <p>Enter username to proceed</p>
      <input
        pInputText
        maxlength="30"
        type="text"
        id="username"
        placeholder="Enter username"
        (keydown.enter)="setUsername(username)"
        (change)="onUserNameChange(username)"
        [(ngModel)]="username">
      <p-button
        [disabled]="!username"
        label="Next"
        (click)="setUsername(username)">
      </p-button>
    </div>
  }
  @else if(formSubmitted) {
    <div class="welcomeContainer">
      <h1>Thank you for your submission!</h1>
      <p>Submit another model here!</p>
      <p-button label="Submit Another" (click)="clearUsername()"></p-button>
    </div>
  }
  @else {
    <div class="welcomeContainer">
      <h1>Welcome, {{ username }}!</h1>
      <p>Submit your model here!</p>
      <p class="smalltext"><strong>*</strong>Required</p>
      <p-button label="Change Username" (click)="clearUsername()"></p-button>
    </div>

    <form [formGroup]="SubmitForm" (ngSubmit)="onSubmit()">
      <!-- Title Input -->
      <div class="inputContainer">
        <label for="title">Title*</label>
        <input
          pInputText
          type="text"
          maxlength="50"
          id="title"
          placeholder="Enter title"
          formControlName="title">
        @if (SubmitForm.get('title')?.invalid && SubmitForm.get('title')?.touched) {
          <small>This field is required</small>
        }
      </div>

      <!-- Category Selector -->
      <div class="inputContainer">
        <label for="category">Category*</label>
        <input
          pInputText
          type="text"
          maxlength="50"
          id="category"
          placeholder="Enter category"
          formControlName="category">
        @if (SubmitForm.get('category')?.invalid && SubmitForm.get('category')?.touched) {
          <small>This field is required</small>
        }
      </div>
      <!-- disable temporarily -->
      <!-- TODO: Fix style -->
      <!-- <div class="categoryContainer">
          <p-treeSelect
            formControlName="selectedNodes"
            [options]="nodes"
            placeholder="Select Item"
            [filter]="true"
            [filterInputAutoFocus]="true"
          />
        </div> -->

      <!-- Description Input -->
      <div class="inputContainer">
        <label for="description">Description*</label>
        <textarea
          pInputTextarea
          id="description"
          maxlength="1000"
          rows="7"
          cols="88"
          placeholder="Enter description"
          [autoResize]="true"
          formControlName="description">
        </textarea>
        @if (SubmitForm.get('description')?.invalid && SubmitForm.get('description')?.touched) {
          <small>This field is required</small>
        }
      </div>

      <!-- Image Upload -->
      <!-- TODO: we might want to limit the file size -->
      <div class="upload-container">
        <input type="file" class="fileinput" accept="image/*" (change)="onFilesSelected($event, 'image')" multiple #imgUpload>
        <p>Upload Image(s)*</p>
        <div class="uploadlist">
          <button color="primary" class="upload-btn" (click)="imgUpload.click()">
            <i class="pi pi-cloud-upload" style="font-size: 5rem"></i>
          </button>
          @if (uploadedImages.length) {
            <ul>
              @for (imgFile of uploadedImages; track imgFile.name) {
                <li>
                  {{ imgFile.name }} - {{ (imgFile.size / 1024).toFixed(2) }} KB
                  <button (click)="onFileRemove(imgFile, 'image')">
                    <i class="pi pi-times" style="font-size: 1rem"></i>
                  </button>
                </li>
              }
            </ul>
          }
        </div>
      </div>

      <!-- Instruction PDF File Upload -->
      <div class="upload-container">
        <input type="file" class="fileinput" accept="application/pdf" (change)="onFilesSelected($event, 'pdf')" #pdfUpload>
        <p>Upload Instruction PDF*</p>
        <div class="uploadlist">
          <button color="primary" class="upload-btn" (click)="pdfUpload.click()">
            <i class="pi pi-cloud-upload" style="font-size: 5rem"></i>
          </button>
          @if (uploadedPDFs.length) {
            <ul>
              @for (pdfFile of uploadedPDFs; track pdfFile.name) {
                <li>
                  {{ pdfFile.name }} - {{ (pdfFile.size / 1024).toFixed(2) }} KB
                  <button (click)="onFileRemove(pdfFile, 'pdf')">
                    <i class="pi pi-times" style="font-size: 1rem"></i>
                  </button>
                </li>
              }
            </ul>
          }
        </div>
      </div>

      <!-- Parts List csv File Upload -->
      <div class="upload-container">
        <input type="file" class="fileinput" accept=".csv" (change)="onFilesSelected($event, 'csv')" #csvUpload>
        <p>Upload Parts List CSV*</p>
        <div class="uploadlist">
          <button color="primary" class="upload-btn" (click)="csvUpload.click()">
            <i class="pi pi-cloud-upload" style="font-size: 5rem"></i>
          </button>
          @if (uploadedCSVs.length) {
            <ul>
              @for (csvFile of uploadedCSVs; track csvFile.name) {
                <li>
                  {{ csvFile.name }} - {{ (csvFile.size / 1024).toFixed(2) }} KB
                  <button (click)="onFileRemove(csvFile, 'csv')">
                    <i class="pi pi-times" style="font-size: 1rem"></i>
                  </button>
                </li>
              }
            </ul>
          }
        </div>
      </div>

      <!-- 3D dae Model Upload -->
      <div class="upload-container">
        <input type="file" class="fileinput" accept=".dae" (change)="onFilesSelected($event, 'dae')" #daeModelUpload>
        <p>Upload 3D Model (.dae)</p>
        <div class="uploadlist">
          <button color="primary" class="upload-btn" (click)="daeModelUpload.click()">
            <i class="pi pi-cloud-upload" style="font-size: 5rem"></i>
          </button>
          @if (uploadedDAEs.length) {
            <ul>
              @for (daeFile of uploadedDAEs; track daeFile.name) {
                <li>
                  {{ daeFile.name }} - {{ (daeFile.size / 1024).toFixed(2) }} KB
                  <button (click)="onFileRemove(daeFile, 'dae')">
                    <i class="pi pi-times" style="font-size: 1rem"></i>
                  </button>
                </li>
              }
            </ul>
          }
        </div>
      </div>

      <!-- Submit Button -->
      <div class="buttoncontainer">
        <p-button type="submit" [disabled]="!isFormValid()" label="Submit" />
        <p-button (click)="SubmitForm.reset()" label="Reset Form" />
      </div>
    </form>
  }

</div>

