:root {
  --yellow: #F9E400;
  --dark-yellow: #dbc800;
  --orange: #FF8000;
  --red: #FF8080;
  --green: #14C38E;
  --blue: #279EFF;
  --light-blue: #b7e0ff;
  --light-gray: #f8f8f8;
  --dark-gray: #6b7280;
  --black: #383838;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  width: 50rem;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .container {
    width: 90%;
  }
}

.loadingContainer {
  position: fixed;
  top: 35%;
  align-self: center;
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
  justify-self: center;
  flex-direction: column;
  z-index: 100;
  color: #6d6d6d;

  /* https://hype4.academy/tools/glassmorphism-generator */
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 0.8rem;
  border: 1px solid rgba(255, 255, 255, 0.18);

  padding: 4rem 6rem;
  font-size: 1rem;
  font-weight: 300;
  border-radius: 2rem;
  gap: 1rem;
}

.loader {
  border: 0.25rem solid #c77b7b;
  border-top: 0.25rem solid #FAFAFA;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

input:focus,
select:focus,
textarea:focus,
button:focus,
input[type=checkbox]:focus {
  outline: none;
}

.usernameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  width: 100%;
}

.usernameContainer button {
  background-color: var(--light-gray);
  border: none;
  border-radius: 0.5rem;
  padding: 0.3rem 0.6rem;
  transition: all 0.2s;
}

.usernameContainer button:hover {
  background-color: var(--blue);
}

.usernameContainer p {
  font-size: 0.9rem;
  font-weight: 400;
  color: #777777;
  text-align: center;
}

.welcomeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.usernameContainer h1,
.welcomeContainer h1 {
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  background: radial-gradient(circle at 100%, #14C38E, #9694FF 50%, #14C38E 75%, #14C38E 100%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  animation: alternateTextColor 8s linear infinite;
}

.welcomeContainer p {
  font-size: 0.9rem;
  font-weight: 400;
  color: #777777;
  text-align: center;
}

.welcomeContainer .smalltext {
  font-size: 0.75rem;
  font-weight: 300;
  color: #989898;
}

@keyframes alternateTextColor {
  to {
    background-position: 200% center;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  gap: 1rem;
}

.inputContainer {
  margin: 0.5rem 0;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.usernameContainer input[type=text] {
  width: 20rem;
  text-align: center;
}

input[type=text] {
  width: 24rem;
  height: 2.4rem;
  border: 2px solid #efefef;
  border-radius: 0.5rem;
  padding: 0.5rem;
  transition: all 0.2s;
}

input.ng-valid.ng-touched {
  border-color: var(--yellow);
}

input.ng-invalid.ng-touched, .invalid-touched {
  /* border-color: #FF8A8A; */
  border-color: var(--red);
}

textarea {
  border: 2px solid #efefef;
  border-radius: 0.5rem;
  padding: 0.5rem;
  transition: all 0.2s;
  width: 42rem;
}

@media (max-width: 800px) {
  textarea {
    width: 100%;
  }
}

textarea.ng-valid.ng-touched {
  /* border-color: #b7e0ff; */
  border-color: var(--yellow);
}

textarea.ng-invalid.ng-touched {
  /* border-color: #FF8A8A; */
  border-color: var(--red);
}

small {
  margin-top: 0.2rem;
  color: var(--red);
  font-size: 0.8rem;
  font-weight: 300;
}

/* Disable Autocomplete Styles for Webkit Browsers */
/* https://css-tricks.com/snippets/css/change-autocomplete-styles-webkit-browsers/ */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  box-shadow: 0 0 0px 1000px #ffffff inset;
  -webkit-text-fill-color: #000000;
}

input::placeholder,
textarea::placeholder {
  color: #a0a0a0;
  font-size: 0.9rem;
  font-weight: 300;
}

label {
  display: inline-flex;
  height: 2rem;
  align-items: center;
  margin-right: 0.8rem;
  transition: all 0.2s;
  font-size: 1rem;
  font-weight: 400;
  color: #777777;
}

li > button {
  display: flex;
  border: none;
  border-radius: 1rem;
  text-align: center;
  justify-items: center;
  padding: 0.4rem;
  background-color: #ffffff;
  transition: all 0.2s;
  margin-left: 0.5rem;
}

li > button:hover {
  transform: rotate(90deg);
  background-color: #bec772;
}

.upload-container {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid #efefef;
}

.upload-container p {
  color: #777777;
  font-size: 1rem;
  font-weight: 400;
}

.uploadlist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border-radius: 0.5rem;
  min-height: 8rem;
}

.upload-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.upload-container ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #efefef;
  width: auto;
  margin: 0.2rem 0;
}

.upload-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: none;
  border-radius: 50%;
  transition: all 0.2s;
  background-color: #ffffff;
  color: #b5b5b5;
}

.upload-btn:hover {
  color: #848383;
  background-color: #efefef;
}

.buttoncontainer {
  display: flex;
  justify-content: space-around;
  gap: 0.8rem;
  margin-top: 2rem;
}

.fileinput {
  display: none;
}

.setNumContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sourceInputContainer {
  margin: 0.5rem 0;
  /* justify-content: center; */
  flex-direction: row;
  display: flex;
  height: 2.4rem;
}

.sourceInput {
  margin-bottom: 0.5rem;
}

.removeSourceButton {
  display: inline;
  margin-left: 0.5rem;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  width: 5rem;
  border: none;
  border-radius: 0.5rem;
  transition: all 0.2s;
  background-color: var(--light-gray);
  color: var(--dark-gray);
}

#checkButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin-left: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  transition: all 0.2s;
  background-color: var(--light-gray);
  color: var(--dark-gray);
}

#checkButton:hover {
  background-color: #14C38E;
  color: var(--black);
}

#setCheckButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  width: 24rem;
  border: none;
  border-radius: 0.5rem;
  transition: all 0.2s;
  background-color: var(--light-gray);
  color: var(--dark-gray);
}

#setCheckButton:disabled, .removeSourceButton:disabled, .removeSourceButton:disabled:hover {
  background-color: #f8f8f8;
  color: #c7c7c7;
}

#setCheckButton:hover, .removeSourceButton:hover {
  background-color: #b7e0ff;
  color: var(--black);
}
