@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

:root {
  --yellow: #F9E400;
  --dark-yellow: #dbc800;
  --orange: #FF8000;
  --red: #FF8080;
  --blue: #279EFF;
  --dark-blue: rgb(52, 111, 173);
  --light-gray: #f8f8f8;
  --dark-gray: #6b7280;
  --black: #383838;
}

/* Apply global font */
* {
  font-family: "Urbanist";
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ====================== Navbar ====================== */
.p-tabmenu .p-tabmenu-nav {
  display: inline-flex;
}

.p-tabmenu-nav {
  background-color: var(--yellow);
}

.p-menuitem-link {
  background-color: var(--yellow);
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
  color: var(--black);
  border-color: var(--blac);
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  color: var(--dark-gray);
  border-color: var(--yellow);
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link:hover {
  border-color: var(--dark-gray);
}

/* Tab Menu Text */
.p-tabmenu-nav .p-menuitem-text {
  font-weight: 400;
}
/* ==================================================== */

/* ==================== Model Card ==================== */
/* Card container */
.p-card-content {
  padding: 0 !important;
}

/* Card chip: category */
.p-tag.p-tag-info {
  background-color: var(--orange);
  color: var(--light-gray);
  font-weight: 500;
}
/* Card chip: model? */
.p-tag.p-tag-success {
  background-color: var(--red);
  color: var(--light-gray);
}
/* ==================================================== */

/* ====================== Button ====================== */
.p-button {
  background-color: var(--yellow);
  color: var(--black);
  border: none;
  border-radius: 0;
  padding: 0.8rem 1.6rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.1s;
}

.p-button:not(:disabled):hover {
  background-color: var(--dark-yellow);
}

/* Button label */
.p-button-label {
  font-weight: 400;
}
/* ==================================================== */

/* ================== Image Galleria ================== */

/* ==================================================== */

/* ======================= MISC ======================= */
.p-scrolltop.p-link {
  background-color: var(--blue);
  transition: all 0.3s;
}

.p-scrolltop.p-link:hover {
  background-color: var(--dark-blue);
  transform: translateY(-0.3rem);
}

.p-scrolltop {
  width: 2.5rem;
  height: 2.5rem;
}

/* ==================================================== */