<app-home/>

<div class="header">
  <div class="header-text">
    <img src="../../../assets/rebuilder-logo.png" alt="logo" class="logo" />
    <h1>Rebuilder</h1>
  </div>
  <p>A Platform for Sharing Alternate Builds of LEGO Sets</p>
</div>

<div class="container">
  <article class="main-article">
    <section class="article-section">
      <h2>About Rebuilder</h2>
      <p>
        In the LEGO community, models built only from the parts of an existing LEGO set are referred to as “alternate builds.”
        Alternate builds are often much more economical to obtain than typical custom models, as builders are able to obtain all
        the parts they need from commonly available retail sets. Furthermore, alternate builds increase the value of their
        source sets by offering builders an alternative build experience in addition to that of the official model—which is
        especially useful for “army builders” who buy multiple copies of a set just for the minifigures.
      </p>
      <p>
        Rebuilder is an online platform for sharing alternate build instructions. Rebuilder draws inspiration
        from an existing LEGO instruction platform, Rebrickable, Rebrickable is currently one of the largest platforms in the
        LEGO community for sharing alternate build instructions, but contains a host of other features such as forums, set
        catalogs, and support for custom non-alternate builds.
      </p>
    </section>

    <section class="article-section">
      <h2>How to Use Rebuilder</h2>
      <p>Explanation of how to use it</p>
      <p>Add more contents if time permitting</p>
    </section>

    <section class="article-section">
      <h2>Meet the Team</h2>
      <div class="members-container">
        <div class="member">
          <div class="name-img">
            <img class="member-img" src="https://avatars.githubusercontent.com/u/107449866" alt="Jason Chew" />
            <a href="https://github.com/Geesing" target="_blank" ref="noopener noreferrer">
              <h3>Jason Chew</h3>
            </a>
          </div>
          <p class="profile-desc">
            Having domain knowledge in the app’s subject, Jason ensured the LEGO community’s interests were considered. He focused
            on implementing key features like a 3D viewer, API calls, and part lists, while guiding project vision and aesthetics
            for the showcase and submission.
          </p>
        </div>
        <div class="member">
          <div class="name-img">
            <img class="member-img" src="https://avatars.githubusercontent.com/u/95011871" alt="Daniel Kim" />
            <a href="https://github.com/Cobblestone5517" target="_blank" ref="noopener noreferrer">
              <h3>Daniel Kim</h3>
            </a>
          </div>
          <p class="profile-desc">
            Responsible for managing team meetings and ensuring timely milestone completion, I dedicated time weekly to designing
            the website structure, creating and linking initial components, defining sections and inputs, building the model
            submission form, configuring Firebase, and refining aesthetics with CSS.
          </p>
        </div>
      </div>
    </section>
  </article>
</div>

<footer>
  <div class="footer-container">
    <div class="footer-content">
      <p>&copy; 2024 Team Rebuilder</p>
    </div>
    <div class="iconContainer">
      <a href="https://github.com/Team-Rebuilder/Rebulider" target="_blank" rel="noopener noreferrer">
        <i class="pi pi-github"></i>
      </a>
      <a href="https://docs.google.com/document/d/1_j8OgXuTX_C_5hVC8X42tUdr5KQR7XEtckNiW6UO4sA/edit?tab=t.0#heading=h.ixns37gjynfg"
        target="_blank" rel="noopener noreferrer">
        <i class="pi pi-file-word"></i>
      </a>
    </div>
  </div>
</footer>
