<app-home/>

<div class="header">
  <div class="header-text">
    <img src="../../../assets/rebuilder-logo.png" alt="logo" class="logo" />
    <h1>Rebuilder</h1>
  </div>
  <p>A Platform for Sharing Alternate Builds of LEGO Sets</p>
</div>

<div class="container">
  <article class="main-article">
    <section class="article-section">
      <h2>About Rebuilder</h2>
      <p>
        In the LEGO community, models built only from the parts of an existing LEGO set are referred to as “alternate builds.”
        Alternate builds are often much more economical to obtain than typical custom models, as builders are able to obtain all
        the parts they need from commonly available retail sets. Furthermore, alternate builds add additional "rebuild value" to sets—which is
        especially useful for “army builders” who buy multiple copies of a set just for the minifigures.
      </p>
      <p>
        Rebuilder is an online platform for sharing instructions of such alternate builds, featuring novel 3D previews, embedded instruction viewers, and part usage calculations all in one site.
      </p>
    </section>

    <section class="article-section">
      <h2>Features</h2>
      <p class="features">Search for alternate builds by set category</p>
      <p class="features">View alternate build images, instructions, parts lists, and 3D renders in-site</p>
      <p class="features">Upload alternate builds with references to source sets, instructions, part lists, images, and 3D models</p>
    </section>

    <section class="article-section">
      <h2>Tech Stack</h2>
      <div class="imgContainer">
        <img src="../../../assets/techStack.png" alt="Tech Stack" />
      </div>
      <ul class="techChipContainer">
        <li class="techChip">Angular</li>
        <li class="techChip">HTML</li>
        <li class="techChip">CSS</li>
        <li class="techChip">TypeScript</li>
        <li class="techChip">PrimeNG</li>
        <li class="techChip">Material Design</li>
        <li class="techChip">THREE.js</li>
        <li class="techChip">Firebase Database</li>
        <li class="techChip">Firebase Storage</li>
        <li class="techChip">Firebase Hosting</li>
        <li class="techChip">Firebase Authentication</li>
      </ul>
    </section>

    <section class="article-section">
      <h2>Meet the Team</h2>
      <div class="members-container">
        <div class="member">
          <div class="name-img">
            <img class="member-img" src="https://avatars.githubusercontent.com/u/107449866" alt="Jason Chew" />
            <a href="https://github.com/Geesing" target="_blank" ref="noopener noreferrer">
              <h3>Jason Chew</h3>
            </a>
          </div>
          <p class="profile-desc">
            Resident LEGO expert; primary logic author, developing instruction viewer, 3D viewer, part viewer/validators, and part usage calculator; creative director defining functional and aesthetic vision.
          </p>
        </div>
        <div class="member">
          <div class="name-img">
            <img class="member-img" src="https://avatars.githubusercontent.com/u/95011871" alt="Daniel Kim" />
            <a href="https://github.com/Cobblestone5517" target="_blank" ref="noopener noreferrer">
              <h3>Daniel Kim</h3>
            </a>
          </div>
          <p class="profile-desc">
            Manager of backend, database, form handling, and auth. Primary CSS/aesthetic designer; HTML and component architect; organizational lead for team meetings and project milestones.
          </p>
        </div>
      </div>
    </section>
  </article>
</div>

<footer>
  <div class="footer-container">
    <div class="footer-content">
      <p>&copy; 2024 Team Rebuilder</p>
    </div>
    <div class="iconContainer">
      <a href="https://github.com/Team-Rebuilder/Rebulider" target="_blank" rel="noopener noreferrer">
        <i class="pi pi-github"></i>
      </a>
      <a [routerLink]="'/about/'">
        <i class="pi pi-info-circle"></i>
      </a>
      <a href="https://docs.google.com/document/d/1_j8OgXuTX_C_5hVC8X42tUdr5KQR7XEtckNiW6UO4sA/edit?tab=t.0#heading=h.ixns37gjynfg"
        target="_blank" rel="noopener noreferrer">
        <i class="pi pi-file-word"></i>
      </a>
    </div>
  </div>
</footer>
